.what-i-do-section {
    background-color: #ddd;
}

.what-i-do-section-items {
    justify-content: space-between;
    column-gap: 10px;

    margin-top: 80px;
    padding-bottom: 80px;
}

.what-i-do-section-item {
    text-align: center;
    width: 350px;

}

.what-i-do-section-item i {
    color: var(--main-color);
    font-size: 45px;
    margin-bottom: 20px;
}

.title-para {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;

    margin-bottom: 20px;
}

.description-para {
    line-height: 30px;
    color: #6c757d;
    margin-bottom: 40px;
}